.app.dark {
  background-color: #111;
  color: rgb(255, 255, 255);

  .chartGrid {
    stroke: rgba(236, 236, 236, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: rgb(255, 255, 255);
    }
  }

  .navbar {
    color: #ffffff;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #f8f8f8;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #f3f3f3;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: rgb(240, 240, 240);
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: rgb(240, 240, 240);
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }
}
